:root{
  --mainBlue: #2a2a72;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
}
body{
  font-family: 'Poppins', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title{
  font-family: 'Oxygen', sans-serif;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue);
}
.text-bright{
  color: var(--lightBlue);
}
.text-capitalize{
  text-transform: capitalize;
}
.nav{
  display: flex !important;
  align-items: center;
  /* justify-content: ; */
  width: 100%;
}
.nav-link{
  color: var(--mainWhite);
}
.nav-link:hover{
  color: grey;
}
.cart-link{
  align-self: center;
  color: var(--mainWhite);
  margin-left: auto;

}
